.card{
    width: 20%;    
    margin-left: 10% !important;
    margin-top: 5% !important;
    border-left-width: 10px !important;
    border-left-style: solid;
}

.title{
    font-size: 18px !important;
}

.count {
    font-size: 18px !important;
}

.confirmed{
    border-left-color: rgba(0,0,255,0.7) !important;
}

.recovered{
    border-left-color: rgba(0,255,0,0.7) !important;
}

.deaths{
    border-left-color: rgba(255,0,0,0.7) !important; 
}
