.container{
    width: 60% !important;
    margin: 10% 20%;
}

.tableHeader{
    background-color: silver;
    color:black;
}

.content{
    text-align: left;
    margin-top: 3% !important;
    margin-bottom: 5% !important;
}